
// POSTS
.posts {

    .show {
        visibility: visible;
    }
    .hide {
        visibility: hidden;
    }

    .post-owner-image {
        border-radius: 50%;
    }
}








// ADD POST

.addpost {
    
}